@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

        :root {
            --background: #fff;
            --now-b: #09f;
            --text: #000;

        }

        .darkmode {
            background-color: #000;
            color: #fff;
        }

        html {
            font-family: 'Ubuntu', sans-serif;
            background-color: var(--background);
            user-select: none;
            color: var(--text);
        }

        #welcome{
            margin-left: auto;
            margin-right: auto;
            height: 10vh;
            display: block;
        }
        .minibox {
            width: 20vh;
            height: 28vh;
            background-color: var(--background);
            border-radius: 1vh;
            margin-left: 1vw;
            margin-right: 1vw;
            margin-top: 1vh;
            margin-bottom: 1vh;
            display: inline-block;
            border: 2px solid #ddd;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
        #row2 .minibox:last-of-type {
            margin-right: 0vw;
        }
        .mediumbox {
            display: flexbox;
            background-color: #09f8;
            border-radius: 4px;
            left: auto;
            right: auto;
            display: inline-block;
            color: #fff;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
        #row1 h1 {
            color: #fff;
            background-color: #09fa;
            margin: 1vh 0vh 0vh 1vh;
            display: block;
            width: fit-content;
        }
        #row1 {
            overflow-x: auto;
            background-size: 100vw;
            white-space: nowrap;
            background-image: url("wphoto/nodata.png");
        }

        #row2 {
            overflow-x: auto;
            width: 100vw;
            white-space: nowrap;
        }

        #row3 {
            overflow-x: auto;
            display: none;
            white-space: nowrap;
            border-top: 1vh solid var(--now-b);
        }

        #row4 {
            overflow-x: auto;

            white-space: nowrap;
        }

        .minibox .content {
            background-color: var(--background);
            color: var(--text);
            width: min-content;
            font-size: 6vh;
            text-align: center;
            border-top: 0.1vh solid var(--now-b); 
            margin: 0% auto 0% auto;
        }

        .minibox .time {
            background-color: var(--background);
            color: var(--text);
            margin: 0;
            text-align: center;
            width: 50%;
            position: relative;
            left: 25%;
            border: 0.2vw solid var(--now-b);
            border-top: 0vh solid #fff; 
            border-radius: 0vh 0vh 1vh 1vh;
        }

        .icon {
            text-align: center;
            margin: 0 1.5vh;
            width: 17vh;
            filter: invert(46%) sepia(82%) saturate(3527%) hue-rotate(183deg) brightness(103%) contrast(104%);
        }

        .mediumbox #icon {
            align-self: center;
            height: 20vh;
            display: inline-block;
            margin-left: 0.01vw;
            filter: invert(1);
        }


        .mediumbox #temp {
            align-self: flex-start;
            font-size: 9vh;
            margin: 1vh;
            display: inline;
            color: #fff;
        }

        .mediumbox #time {
            align-self: center;
            display: inline-block;
            position: relative;
            left: -7vh;
        }

        #lang {
            position: absolue;
            right: 0px;
        }

        #windicon {
            height: 7vh;
            filter: invert(1)
        }

        #wind {
            display: inline-block;
            position: relative;
            top: -10vh;
        }

        .minibox .icon {
            filter: invert(46%) sepia(82%) saturate(3527%) hue-rotate(183deg) brightness(103%) contrast(104%);
        }
        input[type=search] {
            width: 70vw;
            color: #fff;
            height: 5vh;
            background-color: var(--now-b);
            border: none !important;
            border-radius: 2vh 0vh 0vh 2vh;
            font-family: 'Ubuntu', sans-serif;
        }
        button {
            width: 20vw;
            height: 5vh;
            border: none !important;
            background-color: #0ef;
            font-family: 'Ubuntu', sans-serif;
            border-radius: 0vh 2vh 2vh 0vh;
        }
        ::placeholder {
            color: #fff;
        }
        #map { height: 40vh; }
        #selector div{
            display: inline-block;
            background-color: #24e;
            color: #fff;
            padding: 5px;
            border: 0.1vw solid #eee;
        }
        #selector div:hover{
            background-color: #09f;
        }